.temp{
    display: flex;
    justify-content: space-between;
    align-items: center;
max-width: 360px;
width: 100%;
padding-left: 8%;
padding-right: 8%;
}

.cal{
    color: var(--Cards-4-info-text, #A5ADBB);
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 25px; 
}